@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    max-width: 10rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color:#d50d60;
    font-weight: 600;
    padding: 1rem;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/*seccion presentacion*/
.presentacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background:#FDEDF4;

    }

.contenedor-texto {
     width: 50%;
        }    

.contenedor-texto h1 {
    color: #d50d60;;
    font-size: 32px;
}
    
.contenedor-texto p {
    font-size: 18px;
}
    
.contenedor-imagen img {
    padding: 2rem;
    width: 90%;
    height: auto;
}

/*seccion marcas*/
.marcas {
    padding: 2rem;
}
    
.marcas h2 {
    margin-bottom: 20px;
}
    
.contenedor-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
    
.contenedor-logos img {
    width: 120px;
    height: 60px;
    margin: 10px;
    object-fit: contain;
}
    
.ver-mas {
    background-color: white;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color:#d50d60;
    padding: 10px 20px;
    border: solid #d50d60 2px;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
}
    
.ver-mas:hover {
    background-color:#d50d60;
    color: white;
}


/*productos perros y gatos*/

#productos-perros {
    background:#FDEDF4;
    padding: 5rem;
}


#productos-gatos {
     padding: 5rem;
}


#productos-perros h2{
   color: #d50d60;
}


#productos-gatos {
    padding: 5rem;
}

#productos-gatos h2 {
    color:#d50d60;
}

.card-producto{
	overflow: hidden;
	background: white;
	width: 240px;
	height: 400px;
    padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
    border: 2px solid #d50d60;
	margin: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-producto:hover {
    scale: 1.1;
}



.card-producto button {
    background-color:#d50d60;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
}


.contenedor-cards {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}


.card-producto img {
	height: 180px;
	margin: 1rem;
	transition: all 0.3s;
}

 
/*seccion ubicacion*/
#ubicacion {
    padding: 5rem;
    background-color:white;
}
    
#ubicacion h2 {
    color:#d50d60;
    margin-bottom: 20px;

}

/*seccion consejos*/
.consejos {
    background-color:#FDEDF4;
    padding: 2rem;
}

/*Formulario*/

#formulario {
    display: flex;
    padding: 5rem;
    align-items: center;
    justify-content: center;
    background-color: #FDEDF4;
}

#formulario p{
    margin-bottom: 30px;
}

form {
    padding: 30px 50px;
    box-shadow: 0 0 20px rgb(0, 0, 0.3);
    border-radius: 20px;
    width: 600px;
    background-color: white;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align:left;
}

label {
    color: #d50d60;
    font-size: 15px;
    font-weight: 600;
    text-align: left;

}

input, textarea {
    padding: 12px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 2px solid #d50d60;
    color: rgb(0, 0, 0);
    outline: none;
}


.btn {
    font-size: 16px;
    color:#fff;
    border: 0;
    border-radius: 25px;
    background-color: #d50d60;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/*Footer*/
footer {
    background-color:#FDEDF4;
    padding: 10px;

}

footer p{
    color: #d50d60;;
}


/*whatsapp flotante*/

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0.3);
    z-index: 100;
}




/*RESPONSIVE*/

@media screen and (max-width: 900px){
    /*Menu*/


  .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
       
    }

    .abrir-menu {
        color: #d50d60;
        
    }

    .cerrar-menu {
        color: #ececec;
    }


    header {
        position: static;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #d50d60;
        padding: 20px;
       
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color:white;
    
    }

    /*Presentacion*/
    .presentacion {
        flex-wrap: wrap;
        }

        .contenedor-texto {
            width: 100%;
               }  
    

    .contenedor-texto h1 {
        width: 100%;
        color: #d50d60;
        margin-bottom: 20px;
        font-size: 25px;
    }
        
    .contenedor-texto p {
        font-size: 15px;
        color:#632B47;
    }
        
    .contenedor-imagen img {
       
        padding: 0;
        width:80%;
        height: auto;
    }

    /*productos*/

    #productos-gatos {
        padding: 2rem;
    }

    #productos-perros {
        padding: 2rem;
    }
    /*seccion marcas*/
    .marcas h2 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #632B47;
    }
    .consejos iframe {
        height: 100%;
        width: auto;
    }

    #ubicacion iframe {
        height: 100%;
        width: auto;
    }

    /*formulario*/
    form {
         width: 300px;
  
    }

    .btn-wsp {
        bottom: 50px;
        right: 50px;
    
    }
}